$purple: #925485;
$darkPurple: #5c007a;
$blue: #718792;
$teal: #439889;
$green: #388e3c;
$darkGreen: #00600f;
$white: #fff;
$yellow: #f57f17;
$darkYellow: #bc5100;

.purple-theme {
	.primary {
		a.item.active,
		a.item:hover,
		a.item.active:hover {
			background: $purple;
		}

		.dropdown.item.active,
		.dropdown.item.active:hover,
		.dropdown.item:hover {
			background: $purple;
		}

		.dropdown.item.active {
			.item:hover,
			.item.active,
			.item.active:hover {
			    background: $purple !important;
			}
		}

		.huge.header {
			color: $purple !important;
		}

		.task-card {
		    .header {
		        color: $purple !important;

		        button {
		            color: $purple;
		        }
		    }

		    .description {
		        label {
		            color: $purple;
		        }
		    }
		}
	}

	.secondary.button {
	    background: $green;
	    color: $white;
	}

	.secondary.button:hover {
	    background: $darkGreen;
	}
}

.blue-theme {
	.primary {
		a.item.active,
		a.item:hover,
		a.item.active:hover {
			background: $blue;
		}

		.dropdown.item.active,
		.dropdown.item.active:hover,
		.dropdown.item:hover {
			background: $blue;
		}

		.dropdown.item.active {
			.item:hover,
			.item.active,
			.item.active:hover {
			    background: $blue !important;
			}
		}

		.huge.header {
			color: $blue;
		}

		.task-card {
		    .header {
		        color: $blue !important;

		        button {
		            color: $blue;
		        }
		    }

		    .description {
		        label {
		            color: $blue;
		        }
		    }
		}
	}

	.secondary.button {
	    background: $purple;
	    color: $white;
	}

	.secondary.button:hover {
	    background: $darkPurple;
	}
}

.teal-theme {
	.primary {
		a.item.active,
		a.item:hover,
		a.item.active:hover {
			background: $teal;
		}

		.dropdown.item.active,
		.dropdown.item.active:hover,
		.dropdown.item:hover {
			background: $teal;
		}

		.dropdown.item.active {
			.item:hover,
			.item.active,
			.item.active:hover {
			    background: $teal !important;
			}
		}

		.huge.header {
			color: $teal;
		}

		.task-card {
		    .header {
		        color: $teal !important;

		        button {
		            color: $teal;
		        }
		    }

		    .description {
		        label {
		            color: $teal;
		        }
		    }
		}
	}

	.secondary.button {
	    background: $yellow;
	    color: $white;
	}

	.secondary.button:hover {
	    background: $darkYellow;
	}
}

.fixed {
	position: fixed;
	z-index: 2;
	right: 0;
	bottom: 0;
	margin: 3em !important;
}

.ui.menu .item {
	font-weight: bold !important;
}

.line-through {
	text-decoration: line-through;
}